<svg class="icon" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false">
  {% case include.name %}
  {% when 'mail' %}<rect x="3" y="5" width="18" height="14" rx="2"/><path d="m3 6 9 7 9-7"/>
  {% when 'scholar' %}<path d="m2 9 10-5 10 5-10 5L2 9Zm4 2v6c4 3 8 3 12 0v-6m4-2v8"/>
  {% when 'github' %}<path d="M9 19c-4 1-4-2-6-2m12 5v-4a3.5 3.5 0 0 0-1-2.5c3.3-.4 6.8-1.6 6.8-7.2A5.6 5.6 0 0 0 19.3 4a5 5 0 0 0-.1-4S18 0 15 1.6a14 14 0 0 0-6 0C6 0 4.8 0 4.8 0a5 5 0 0 0-.1 4 5.6 5.6 0 0 0-1.5 4.3c0 5.6 3.5 6.8 6.8 7.2A3.5 3.5 0 0 0 9 18v4" transform="translate(1 2) scale(.9)"/>
  {% when 'arrow' %}<path d="M7 17 17 7M7 7h10v10"/>
  {% endcase %}
</svg>
